.card__name {
  padding: 0;
  margin: 0 0 10px;
  font-family: Comfortaa, sans-serif;
  font-size: 20px;
  color: #fff;
  font-weight: 700;
}

@media screen and (max-width: 550px) {
  .card__name {
    margin: auto;
  }
}