.pagination__button {
  display: block;
  margin: auto 10px 0;
  height: 40px;
  background-color: rgb(139, 139, 139);
  color: #fff;
  border-radius: 20px;
  border: none;
  padding: 5px 10px;
  cursor: pointer;

  font-size: 16px;
  font-family: Comfortaa, sans-serif;
  transition: .15s;
}

.pagination__button:hover {
  opacity: .8;
}

.pagination__button:nth-child(3) {
  pointer-events: none;
  width: 90px;
  user-select: none;
}