.selector__switch {
  height: 40px;
  width: 201px;
  border-radius: 4px;
  background-color: rgb(255, 255, 255, .9);
  transition: .15s;
  cursor: pointer;
  margin: 10px 0;
  user-select: none;
  display: flex;
  align-items: center;
  padding-left: 10px;

  font-family: Comfortaa, sans-serif;
  font-weight: 700;
  font-size: 16px;
}

.selector__switch:hover {
  background-color: rgb(255, 255, 255, 1);
}