.full__title {
  padding: 0;
  margin: 10px 0;
  font-size: 26px;
  font-weight: 700;
  font-family: Comfortaa, sans-serif;
  color: #fff;
}

@media screen and (max-width: 720px) {
  .full__title {
    text-align: center;
    margin-bottom: 20px;
  }
}