.full__image {
  min-height: 400px;
  min-width: 300px;
  background-size: contain;
  background-repeat: no-repeat;
}

@media screen and (max-width: 720px) {
  .full__image {
    margin: auto;
    min-height: none;
    min-width: none;
  }
}

@media screen and (max-width: 550px) {
  .full__image {
    min-width: 260px;
    min-height: 360px;
  }
}