.full {
  display: flex;
  max-width: 1024px;
  flex-direction: row;
  background-color: rgb(49, 49, 49);
  margin: 10px auto;
  border-radius: 4px;
}

@media screen and (max-width: 880px) {
  .full {
    margin: 10px 20px;
  }
}

@media screen and (max-width: 720px) {
  .full {
    flex-direction: column;
  }
}